nav a{
    background: transparent;
    transform: rotate(90deg);
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.4);
}

nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
}

/* ===== MEDIA QUERIES ( MEDIUM DEVICES ) / Responsividade ( Dispositivos Médios ) /  ===== */

@media screen and (max-width:600px) {
    nav{
            background: rgba(0, 0, 0, 0.6);
            width: max-content;
            display: block;
            padding: 8rem 1.4rem;
            z-index: 2;
            margin-left: auto;
            margin-right: auto;
            margin-top: -13rem;
            margin-bottom: -12rem;
            display: flex;
            gap: 0.8rem;
            border-radius: 3rem;
            backdrop-filter: blur(15px);
            transform: rotate(270deg);
        }
    }

/* ===== MEDIA QUERIES ( MEDIUM DEVICES ) / Responsividade ( Dispositivos Médios ) /  ===== */

    @media screen and (min-width:600px) {
        nav{
                background: rgba(0, 0, 0, 0.6);
                width: max-content;
                display: block;
                padding: 0.7rem 1.1rem;
                z-index: 2;
                position: fixed;
                left: 47%;
                top: 70%;
                transform: translateX(-50%);
                display: flex;
                gap: 0.8rem;
                border-radius: 3rem;
                backdrop-filter: blur(15px);
                transform: rotate(270deg);
            }
        }
    